.property_1_variant2_23_599 { 
	width:577px;
	height:126px;
	position:absolute;
}
.rectangle_10_23_600 { 
	background-color:rgba(255, 255, 255, 1);
	width:577px;
	height:126px;
	position:absolute;
	left:0px;
	top:0px;
}
.polygon_3_23_601 { 
	transform: rotate(-179.99999499104388deg);
	background-color:rgba(229.00000154972076, 62.00000010430813, 62.00000010430813, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:119px;
	top:105px;
	border-radius:5px;
}
.stock_name_23_602 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:32px;
	position:absolute;
	left:149px;
	top:19px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
._10_1__23_603 { 
	color:rgba(229.00000154972076, 62.00000010430813, 62.00000010430813, 1);
	width:72px;
	height:32px;
	position:absolute;
	left:334px;
	top:73px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1000_01_23_604 { 
	color:rgba(229.00000154972076, 62.00000010430813, 62.00000010430813, 1);
	width:169px;
	height:63px;
	position:absolute;
	left:149px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e23_605 { 
	border:2px solid rgba(229.00000154972076, 62.00000010430813, 62.00000010430813, 1);
}
.vector_1_23_605 { 
	width:119px;
	height:62px;
	position:absolute;
	left:429px;
	top:94px;
}
