.property_1_default_23_597 { 
	width:577px;
	height:126px;
	position:absolute;
}
.rectangle_10_23_586 { 
	background-color:rgba(255, 255, 255, 1);
	width:577px;
	height:126px;
	position:absolute;
	left:0px;
	top:0px;
}
.polygon_3_23_581 { 
	background-color:rgba(156.02035760879517, 187.00000405311584, 131.67916774749756, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:39px;
	top:33px;
	border-radius:5px;
}
.stock_name_23_584 { 
	color:rgba(0, 0, 0, 1);
	width:155px;
	height:32px;
	position:absolute;
	left:149px;
	top:19px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
._10_1__23_588 { 
	color:rgba(98.00000175833702, 134.00000721216202, 71.00000336766243, 1);
	width:75px;
	height:32px;
	position:absolute;
	left:334px;
	top:73px;
	font-family:Poppins;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e1000_01_23_585 { 
	color:rgba(98.34740951657295, 133.87499392032623, 70.84218263626099, 1);
	width:169px;
	height:63px;
	position:absolute;
	left:149px;
	top:50px;
	font-family:Poppins;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e23_590 { 
	border:2px solid rgba(98.00000175833702, 134.00000721216202, 71.00000336766243, 1);
}
.vector_1_23_590 { 
	width:119px;
	height:62px;
	position:absolute;
	left:429px;
	top:32px;
}
